astroid==3.2.2
autopep8==2.3.0
beautifulsoup4==4.12.3
certifi==2024.6.2
charset-normalizer==3.3.2
dill==0.3.8
exceptiongroup==1.2.1
filelock==3.14.0
gdown==5.1.0
gitdb==4.0.11
GitPython==3.1.43
idna==3.7
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
packaging==24.1
platformdirs==4.2.2
pluggy==1.5.0
pycodestyle==2.12.0
pylint==3.2.3
PySocks==1.7.1
pytest==8.2.2
python-dotenv==1.0.1
pytz==2024.1
regex==2024.5.15
requests==2.32.3
smmap==5.0.1
soupsieve==2.5
tiktoken==0.7.0
tomli==2.0.1
tomlkit==0.12.5
tqdm==4.66.4
typing_extensions==4.12.2
urllib3==2.2.1
tree-sitter==0.20.4
tree-sitter-languages==1.10.2